default:
    trainer: ppo
    batch_size: 1024
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.2
    hidden_units: 128
    lambd: 0.95
    learning_rate: 3.0e-4
    learning_rate_schedule: linear
    max_steps: 5.0e4
    memory_size: 256
    normalize: false
    num_epoch: 3
    num_layers: 2
    time_horizon: 64
    sequence_length: 64
    summary_freq: 1000
    use_recurrent: false
    vis_encode_type: simple
    reward_signals:
        extrinsic:
            strength: 1.0
            gamma: 0.99

Imitator:
    batch_size: 512
    beta: 5.0e-3
    buffer_size: 2048
    epsilon: 0.2
    hidden_units: 256
    learning_rate: 7.5e-4
    learning_rate_schedule: linear
    max_steps: 6.0e5
    normalize: false
    num_epoch: 4
    num_layers: 3
    summary_freq: 1000
    time_horizon: 64
    use_recurrent: false
    sequence_length: 128
    memory_size: 32
    reward_signals:
        extrinsic:
            strength: 1.0
            gamma: 0.99
        curiosity:
            strength: 0.02
            gamma: 0.99
            encoding_size: 128
